<section class="album-list">
  <h1 class="album-list__title">{{title}}</h1>
  <ul class="album-list__album-list" role='list'>
    <a [routerLink]="['/albums', album.id]" class="album-list__album-link" *ngFor="let album of albums" role="link">
      <li class="album-list__album-item" role='listitem'>
        <img class="album-list__album-thumbnail" src="{{album.thumbnail_url}}"
             alt="Cover of the {{album.name}} album">
        <div class="album-list__album-specifications">
          <div class="album-list__album-details">
            <span class="album-list__album-name">{{album.name}}</span>
            <span class="album-list__album-num-of-songs">~ {{album.numOfSongs}} songs</span>
          </div>
          <span class="album-list__album-author">{{album.author}}</span>
        </div>
      </li>
    </a>
  </ul>
</section>
