<section class="album-list">
  <h1 class="album-list__title">List of {{artist && artist.name ? artist.name : 'author'}}</h1>
  <ul class="album-list__album-list" role='list'>

    <li class="album-list__album-element-wrapper" role='listitem' *ngFor="let album of albums">
      <a [routerLink]="['/albums', album.id]" class="album-list__album-element"
         role="link">

        <span class="album-list__album-panel">
          <img class="album-list__album-thumbnail" src="{{album.thumbnail_url}}"
               alt="Cover of the {{album.name}} album">

          <div class="album-list__album-details">
            <cite class="album-list__album-name">{{album.name}}</cite>
            <cite class="album-list__album-author">{{album.author}}</cite>
            <dd class="album-list__album-num-of-songs">{{album.numOfSongs}} songs</dd>
          </div>
        </span>

        <span class="album-list__album-price">{{album.price + album.currency}}</span>
      </a>
    </li>

  </ul>
</section>
