@import "../../../../styles/sass/_variables/palette"
@import "../../../../styles/sass/_variables/_font/family"
@import "../../../../styles/sass/_variables/_font/size"
@import "../../../../styles/sass/_variables/_font/weight"
@import "../../../../styles/sass/_variables/_separators/margins"
@import "../../../../styles/sass/_variables/_border/radius"

$album-thumbnail-size: 50px
$list-child-border-width: 1px
$num-of-songs-ball-size: 2px
$list-child-inner-vertical-distance: 15px
$list-child-inner-horizontal-distance: 15px

.album-list
  padding: 40px 20px
  background: $color-black

  .album-list__title
    font-family: $font-family-primary
    color: $color-white
    font-size: $font-size-x-large
    font-weight: $font-weight-x-bold
    margin: 0 0 $common-margin-medium 0

  .album-list__album-list
    padding: 0
    margin: 0
    max-height: 500px
    overflow-y: auto

  .album-list__album-element-wrapper
    display: block
    &:not(:first-child)
      border-top: $list-child-border-width solid $color-black-lighter
    &:hover
      background: $color-black-lighter
      cursor: pointer

  .album-list__album-element
    display: flex
    align-items: center
    justify-content: space-between
    text-decoration: none
    padding: $list-child-inner-vertical-distance $list-child-inner-horizontal-distance

  .album-list__album-price
    display: none
    flex-grow: 0

  .album-list__album-go
    color: $color-white

  .album-list__album-panel
    flex-grow: 2
    display: flex
    align-items: center
    margin-right: $common-margin-large

  .album-list__album-thumbnail
    width: $album-thumbnail-size
    max-width: $album-thumbnail-size
    height: $album-thumbnail-size
    max-height: $album-thumbnail-size
    border-radius: $border-radius-rounded
    margin-right: $common-margin-medium

  .album-list__album-num-of-songs,
  .album-list__album-name
    font-family: $font-family-primary

  .album-list__album-name
    font-weight: $font-weight-bold
    font-size: $font-size-small
    color: $color-white
    display: block
    font-style: normal
    letter-spacing: 0.25px

  .album-list__album-author
    color: $color-white-darker
    font-style: normal
    font-size: $font-size-x-small
    margin-right: $common-margin-small
    text-transform: uppercase
    font-family: $font-family-primary
    letter-spacing: 0.75px

  .album-list__album-num-of-songs
    position: relative
    display: inline-block
    padding-left: 7px
    margin: 0
    color: $color-white
    font-size: $font-size-x-small
    font-style: italic
    &:before
      content: ''
      position: absolute
      left: 0
      top: 5px
      height: $num-of-songs-ball-size
      width: $num-of-songs-ball-size
      border-radius: $border-radius-circle
      background: $color-white

  .album-list__album-price
    font-weight: $font-weight-x-bold
    font-size: $font-size-small
    color: $color-white
    font-family: monospace


@media (min-width: 550px)
  .album-list
    padding: 40px
    .album-list__album-price
      display: block