<section class="album-list">
  <h1 class="album-list__title">My Music List</h1>
  <ul class="album-list__album-list" role='list'>

    <a [routerLink]="['/albums', album.id]" class="album-list__album-element-wrapper" *ngFor="let album of albums"
       role="link">
      <li class="album-list__album-element" role='listitem'>
        <img class="album-list__album-thumbnail" src="{{album.thumbnail_url}}"
             alt="Cover of the {{album.name}} album">

        <div class="album-list__album-details">
          <cite class="album-list__album-name">{{album.name}}</cite>
          <cite class="album-list__album-author">{{album.author}}</cite>
          <dd class="album-list__album-num-of-songs">{{album.numOfSongs}} songs</dd>
        </div>
      </li>
    </a>

  </ul>
</section>
