<div class="album">
  <header class="album__header">
    <img src="{{album.thumbnail}}" alt="Cover image of {{album.name}}">
    <div class="album__header-details">
      <h1 class="album__title">{{album.name}}</h1>
      <h2 class="album__author">{{album.artist}}</h2>
    </div>
  </header>

  <ul class="album__track-list" role="list">
    <li class="album__track" *ngFor="let track of tracks">
      <cite class="album__track-name">{{track.name}}</cite>
      <span class="album__track-duration">{{track.duration}}ms</span>
    </li>
  </ul>
</div>