body {
    margin: 0;
}
.album {
    padding: 40px;
    background: #1a1a1a;
}

.album__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album__thumbnail {
    width: 150px;
    max-width: 150px;
    height: 150px;
    max-height: 150px;
    display: block;
}

.album__header-details {
    margin-top: 20px;
}

.album__author,
.album__title {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}

.album__title {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}

.album__author {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 16px;
    margin-top: 5px;
}

.album__track-list {
    margin: 0;
    padding: 20px 0;
}

.album__track {
    list-style: none;
    padding: 15px 0;
    position: relative;
}

.album__track:not(:first-child) {
    border-top: 1px solid #212121;
}


.album__track-number,
.album__track-name,
.album__track-duration {
    color: #e0e1e2;
}

.album__track-name {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-style: inherit;
    display: block;
    letter-spacing: 0.25px;
    line-height: 24px;
    font-size: 18px;
}

.album__track-duration {
    font-family: sans-serif;
    font-size: 10px;
}