<div class="album">
  <header class="album__header">
    <img src="{{ albumThumbnail }}" alt="Cover image of {{album.name}}">

    <div class="album__header-details">
      <h1 class="album__title">
        {{ album && album.name ? album.name : 'Name of the artist' }}
      </h1>

      <h2 class="album__author">
        {{ album && album.artist.name ? album.name : 'Name of the artist' }}
      </h2>
    </div>
  </header>


  <ul class="album__track-list" role="list">
    <li class="album__track" *ngFor="let track of tracks">
      <div class="album__track-name-numered">
        <a target="_blank" href="{{track.previewUrl}}" class="album__track-preview-url">
          <i class="material-icons">&#xE039;</i>
        </a>
        <cite class="album__track-name">{{track.name}}</cite>
      </div>

      <span class="album__track-duration">{{track.timeMiliseconds}}ms</span>
    </li>
  </ul>
</div>